<!-- Setting up your index view -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <h1>Welcome to gitPub</h1>
     <%=drinks[0].name %>  </br>
     <%=drinks[0].price %> </br>
     <img src="<%=drinks[0].image; %>" alt=""> </br>
    <style type="text/css">
        body{
            color:#4D4C7D;
            background-color:#06113C ;
        }
    </style>
    
</body>
</html>