<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <a href="/foods">Back</a>
    <ul>
        <h1>At foo bar</h1>
    <li><%=menu.name.toUpperCase()%></li>
    <li><%=menu.price %> </li> 
    <li><img src="<%=menu.image.slice(0,-3)+"png"%>" alt=""> </li>
    </ul> 
    
</body>
</html>